/* Soluzione esercizio 1 */
.ex-1-square{
  transition: background-color 2s;
}

.ex-1-square:hover{
  background-color: red;
}

/* Soluzione esercizio 2 */
.well .ex-2-square{
  /* animation-name: streatching;
  animation-duration: 4s; */
  transition: width 1.5s ease-in-out;
}

.well .ex-2-square:active{
  width: calc(100% - 38px);
}

/* Soluzione esercizio 3 */
.ex-3-square{
  transition: border-radius 1s ease;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* Soluzione esercizio 4 */
.ex-4-square{
  transition: opacity 1.5s;
}

.ex-4-square:hover{
  opacity: 0;
}

/* Soluzione esercizio 5 */
.well > .ex-5-square{
  transition: transform 1s;
}

.well > .ex-5-square:hover{
  transform: scale(2);
}

.well > .ex-5-square:active{
transform: scale(0.25);
}


/* Soluzione esercizio 6 */
.well > .ex-6-img:hover{
  filter:grayscale(9);
}

/* Soluzione esercizio 7 */
.well > .ex-7-img{
  transition: filter 1s ease;
}

.well > .ex-7-img:hover{
  filter:grayscale(0.9);
}

/* Soluzione esercizio 8 */
.well > .ex-8-img{
  transition: filter 1.5s, border-radius 1.5s;
}

.well > .ex-8-img:hover{
  filter:sepia(0.9);
  border-radius: 20px;
}

/* Soluzione esercizio 9 */
.well > .ex-9-img{
 transition: border-radius 2s, transform 2s, filter 2s;
}

.well > .ex-9-img:hover{
  border-radius: 20px;
  transform: scale(1.5);
  filter: sepia(0.9);
}

/* Soluzione esercizio 10 */
.well .ex-10-icon{
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from{transform: rotate(0deg);}
  50% {transform: rotate(-180deg);}
  to{transform: rotate(-360deg);}
}

/* Soluzione esercizio 11 */
.well .ex-11-icon{
  transition: transform 0.5s ease-in;
}

.well .ex-11-icon:hover{
  transform: rotate(360deg);
}

/* Soluzione esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
  position: absolute;
  animation: topwhite12 1.5s ease;

}

@keyframes topwhite12 {
  0% { top: -10%; left: 10%;}
  50% { top:-10%; left: calc(100% - 60px);}
  100% { top: -10%; left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white{
  position: absolute;
  animation: bottomwhite12 1.5s ease;
}

@keyframes bottomwhite12 {
  0% { bottom: -10%; right: 10%;}
  50% { bottom:-10%; right: calc(100% - 60px);}
  100% { bottom: -10%; right: 10%;}
}


/* Soluzione esercizio 13 */
/* .ex-13-top-white, .ex-13-bottom-white{
  background-color: red;
} */

.ex-13-button:hover .ex-13-top-white{
  position: absolute;
  animation: topwhite13 1.5s ease;
  animation-iteration-count: 2;

}

@keyframes topwhite13 {
  0% { top: -10px; left: 10%;}
  25% { top:-10px; left: calc(100% - 30px);}
  45%{ top: calc(100% - 10px); left: calc(100% - 30px);}
  65% {top: calc(100% - 10px); left: -30px}
  75% {top: -10px; left: -30px;}
  100% { top: -10px; left: 10%;}
}

.ex-13-button:hover .ex-13-bottom-white{
  position: absolute;
  animation: bottomwhite13 1.5s linear;
  animation-iteration-count: 2;
}

@keyframes bottomwhite13 {
  0% { bottom: -10px; right: 10%;}
  25% { bottom:-10px; right: calc(100% - 30px);}
  45% {bottom: calc(100% - 10px); right: calc(100% - 30px);}
  65% {bottom: calc(100% - 10px); right:-30px;}
  85% {bottom: -10px; right: -30px;}
  100% { bottom: -10px; right: 10%;}
}
